header {
    background-image: url("../media/homepage/home_header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 28rem;
}

.header-title {
    letter-spacing: 1.5px;
    margin-top: 6rem;
    text-transform: uppercase;
}

.header-sub {
    margin: 0;
}

/* HOME PAGE */
.home-section-top, .home-section-bottom {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%;
}

.home-section-bottom {
    margin-bottom: 4rem;
}

.home-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 16rem;
    position: relative;
    text-shadow: 3px 0 0 #000000;
    text-transform: uppercase;
    width: 100%;
}

.btn-text{
    display: flex;
    font-size:40px;
    font-weight: 700;
    height: 100%;
    line-height: 100%;
    justify-content:center;
    padding-top: 6rem;
    position: absolute;
    text-align:center;
    width: 100%;
}

.btn-text:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 500ms ease;
}

.btn-link {
    width: 100%;
    display: inline-block;
    position: relative;
    height: 100%;
}

.banner-button-backgrounds {
    background-image: url("../media/homepage/Krygura_Iron\ Snake_Pub_\(Ext.\)_resize.png");
}

.banner-button-design {
    background-image: url("../media/homepage/Krygura_Character_Lineup_resize.png");
}

.banner-button-personal {
    background-image: url("../media/homepage/grandia_resize.png");
    background-position: center top;
}